@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shadow-offset: 4px;
}

.shadow {
  --tw-shadow: var(--shadow-offset) var(--shadow-offset) 0px 0px black;
  --tw-shadow-colored: 0px 0px black;
}

.shadow-none {
  --tw-shadow: none;
  --tw-shadow-colored: none;
}

.button {
  @apply rounded-sm shadow p-2 border-base border-black transition-all hover:translate-x-[var(--shadow-offset)] hover:translate-y-[var(--shadow-offset)] hover:shadow-none;
}

.title {
  @apply text-3xl font-bold text-center my-2;
}

.list {
  @apply list-disc ml-4;
}

.list > li {
  @apply mb-2;
}

.card {
  @apply rounded-sm shadow p-8 border-base border-black;
}

.card-title {
  @apply text-2xl font-bold;
}

.card-subtitle {
  @apply text-lg text-black/65;
}

.card-body {
  @apply flex flex-col gap-5 mt-4;
}

#mobile-menu li {
  @apply border-b-base border-b-black text-lg font-bold hover:bg-pastel-blue;
}
