@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  --header-height: 5rem;
}

.button {
  @apply rounded-full p-2 hover:bg-white/5 transition-colors duration-300;
}

.title {
  @apply text-5xl;
}

.list {
  @apply list-disc ml-4;
}

.list > li {
  @apply mb-2;
}

.card {
  @apply flex flex-col max-w-lg sm:max-w-xl md:max-w-2xl mx-auto;
}

.card-title {
  @apply text-4xl;
}

.card-subtitle {
  @apply text-xl text-white/60 mt-2;
}

.card-body {
  @apply flex flex-col gap-5 mt-6;
}

#mobile-menu li {
  @apply hover:bg-[#323232];
}

.divider {
  @apply border-t border-white/50 w-1/6 mx-auto;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-heading {
  animation: fadeInDown 2s forwards;
  opacity: 0;
}

.background {
  background-color: #3f3f3f;

  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );

  background-blend-mode: multiply;
}

/* Firefox can't render gradients properly */
@supports (-moz-appearance: none) {
  .background {
    background: none;
    background-color: #3f3f3f;
    background-blend-mode: normal;
  }
}

.navbar-blur {
  backdrop-filter: blur(28px);
  -webkit-backdrop-filter: blur(28px);
}
