@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  @apply list-disc ml-4;
}

ul > li {
  @apply mb-2;
}

.card {
  @apply rounded-md border-[2px] border-black dark:border-none bg-slate-100 dark:bg-zinc-800;
}

.card-header {
  @apply flex items-center justify-between p-4 gap-4;
}

.card-body {
  @apply p-4 flex flex-col gap-5;
}

.card-title {
  @apply text-2xl;
}

.divider {
  @apply border w-full border-black dark:border-white/50;
}

a {
  @apply hover:underline;
}

.button {
  @apply rounded-md p-2 border-[2px] border-black dark:border-white/50 transition-all bg-slate-100 dark:bg-zinc-800 hover:bg-slate-200 dark:hover:bg-zinc-700;
}
