@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow {
  --tw-shadow: 4px 4px 0px 0px black;
  --tw-shadow-colored: 0px 0px black;
}

.shadow-none {
  --tw-shadow: none;
  --tw-shadow-colored: none;
}

.title {
  @apply text-5xl;
}

.list {
  @apply list-disc ml-4;
}

.list > li {
  @apply mb-2;
}

.card {
  @apply rounded-md shadow border-[2px] border-black bg-slate-100 dark:bg-zinc-800;
}

.card-header {
  @apply flex items-center justify-between p-4 gap-4;
}

.card-body {
  @apply p-4 flex flex-col gap-5;
}

.card-title {
  @apply text-2xl;
}

.divider {
  @apply border w-full border-black dark:border-white/50;
}

a {
  @apply hover:underline;
}

.button {
  @apply rounded-md shadow p-2 border-[2px] border-black transition-all hover:translate-x-[4px] hover:translate-y-[4px] hover:shadow-none bg-slate-100 dark:bg-zinc-800 hover:bg-slate-200 dark:hover:bg-zinc-700;
}
