@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  @apply list-disc ml-6 sm:ml-8;
}

ul > li {
  @apply mb-4;
}

.card {
  @apply rounded-md border-[2px] border-black dark:border-none bg-slate-100 dark:bg-zinc-800;
}

.card-header {
  @apply flex flex-col sm:flex-row items-start sm:items-center justify-between p-6 gap-2;
}

.card-subtitle {
  @apply flex flex-row sm:flex-col items-end text-end gap-2 justify-between;
}

.card-body {
  @apply p-6 flex flex-col gap-5;
}

.card-title {
  @apply text-2xl;
}

.divider {
  @apply border w-full border-black dark:border-white/50;
}

a {
  @apply hover:underline;
}

.button {
  @apply rounded-md p-2 border-[2px] border-black dark:border-white/50 transition-all bg-slate-100 dark:bg-zinc-800 hover:bg-slate-200 dark:hover:bg-zinc-700;
}
