@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shadow-offset: 4px;
}

@media (prefers-color-scheme: light) {
  .shadow {
    --tw-shadow: var(--shadow-offset) var(--shadow-offset) 0px 0px black;
    --tw-shadow-colored: 0px 0px black;
  }

  :root {
    --primary-text: rgba(18, 18, 18, 1);
    --primary-text-muted: rgba(18, 18, 18, 0.65);
    --primary-bg: #f5f5f5;
    --secondary-bg: #f5f5f5;
    --pastel-red: #ffadad;
    --pastel-orange: #ffd6a5;
    --pastel-yellow: #fdffb6;
    --pastel-green: #e4f1ee;
    --pastel-blue: #d9edf8;
    --pastel-purple: #dedaf4;
  }
}

@media (prefers-color-scheme: dark) {
  .shadow {
    --tw-shadow: var(--shadow-offset) var(--shadow-offset) 0px 0px
      rgba(255, 255, 255, 0.3);
    --tw-shadow-colored: 0px 0px rgba(255, 255, 255, 0.3);
  }

  :root {
    --primary-text: rgba(245, 245, 245, 1);
    --primary-text-muted: rgba(245, 245, 245, 0.65);
    --primary-bg: #1f1f1f;
    --secondary-bg: #313131;
    --pastel-red: #212121;
    --pastel-orange: #212121;
    --pastel-yellow: #212121;
    --pastel-green: #212121;
    --pastel-blue: #212121;
    --pastel-purple: #212121;
  }
}

.shadow-none {
  --tw-shadow: none;
  --tw-shadow-colored: none;
}

.button {
  @apply rounded-sm shadow p-2 border-base border-black dark:border-white/80 transition-all hover:translate-x-[var(--shadow-offset)] hover:translate-y-[var(--shadow-offset)] hover:shadow-none;
}

.title {
  @apply text-3xl font-bold text-center my-2;
}

.list {
  @apply list-disc ml-4;
}

.list > li {
  @apply mb-2;
}

.card {
  @apply rounded-sm shadow p-8 border-base border-black dark:border-white;
}

.card-title {
  @apply text-2xl font-bold text-primary-text;
}

.card-subtitle {
  @apply text-lg text-primary-text-muted;
}

.card-body {
  @apply flex flex-col gap-5 mt-4;
}

#mobile-menu li {
  @apply border-b-base border-b-black dark:border-b-white/80 text-lg font-bold hover:bg-pastel-blue;
}
